body{
    background: linear-gradient(130deg, rgba(245,166,35,0.8) 0%, rgba(18,77,2,0.7) 50%, rgba(153,61,199,0.5) 100%);
    color: rgb(51, 51, 51);
}
.navbar-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(245, 238, 228);
    padding-top: 20px;;
}
.navbar-container img{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}
.nav-links a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 67, 67);
}
.nav-links li{
    list-style: none;
    display: inline;
    font-weight: bolder;
    margin-right: 20px;
    font-family: sans-serif;
}
/* Hero Section */
.hero{
    text-align: center;
    padding: 50px 30px;
    background-color: #5EAAA8;
    border-radius: 10px;
    color: #F0FDFA;
}
.hero h2{
    font-size: 40px;
    margin-bottom: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hero p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: cursive;
}
.hero-btn{
    background: linear-gradient(#05d57e, rgb(105, 35, 244));
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 15px 10px;
}
.hero-btn:hover{
    background: rgb(241, 43, 208);
    color: white;
    border: none;
    padding: 13px;
    border-radius: 10px;
}
/* Layout */
main{
    max-width: 1100px;
    margin: auto;
}
section{
    margin: 10px;
    padding: 10px;
}
/* Skills */
#skills{
    text-align: center;
    color: #134E4A;
}
#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}
#skills ul li {
    font-size: 18px;
    color: whitesmoke;
    background-color: #5EAAA8;
    padding: 10px 20px;
    border-radius: 25px;
    }
/* About me */
.portfolio {
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile-img{
    width:200px;
    height:200px;
    border-radius:50%;
    border:4px solid coral;
}
.portfolio-text {
    flex: 1;
}
/* Footer */
footer{
    text-align: center;
    padding: 20px;
}
#contact a{
    text-decoration: none;
    color: crimson;
}
#contact p{
    font-size: 10px;
    font-family: cursive;
    color: khaki;
}
.footer-text{
    font-size: small;
}
#contact a:hover {color:#134E4A}
#contact a:visited {color:rgb(52, 52, 248)}

/* --------------------------- */
/* MOBILE RESPONSIVENESS */
@media (max-width: 576px) {
    body{
        background: #c9d3ef;
    }
/* NAVBAR */
    .navbar-container {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
   .navbar-container img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    }
    .nav-links {
        margin-top: 10px;
    }
    .nav-links a{
    font-size: 16px;
    color: rgb(3, 150, 150);
}
/* HERO */
    .hero {
        padding: 30px 15px;
    }
    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 14px;
    }
/* SKILLS */
    #skills ul {
        flex-direction: column;
        align-items: center;
    }
    #skills ul li {
        width: 90%;
        text-align: center;
    }
/* ABOUT ME */
    .portfolio {
        flex-direction: column;
        text-align: center;
    }
    .profile-img {
        width: 100px;
        height: 100px;
    }
    body {
        font-size: 16px;
    }
/* FOOTER */
    #contact p {
        font-size: 12px;
    }
}